<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Your next home!</title>
<style>
body {
		background-color: #f7e5ff;
}

</style>
</head>
<body>
{{> /common/_navigation }}		

<h1>Apartment</h1>

<h2>Only ${{ apartment.rent }}</h2>
<p>
  {{ apartment.address }}<br>
  {{ apartment.city }}, {{ apartment.state }} {{ apartment.zipCode }}
</p>
<dl>
  <dt>Number of bedrooms</dt>
  <dd>{{ apartment.numberOfBedrooms }}</dd>
  <dt>Number of bathrooms</dt>
  <dd>{{ apartment.numberOfBathrooms }}</dd>
  <dt>Square footage</dt>
  <dd>{{ apartment.squareFootage }}</dd>
</dl>
<div>
		{{#currentUser}}
		
			{{#apartment.isActive}}
			<form action="/deactivate" method="post">
				<button>deactivate</button>
			</form>
			<br>
			{{/apartment.isActive}}
		
		
		{{/currentUser}}
</div>

</body>
</html>