<!DOCTYPE html>
<html>
<head>
<title>Welcome to your homepage</title>
<style>
body {
		background-color: #f7e5ff;
}
</style>
</head>
<body>
#if ( $noUser )
<a href="/login">Login</a>
<br>
<a href="/signup">Sign up</a>
#end

#if ( $currentUser )
	Welcome, $currentUser.firstName  ($currentUser.email)
#end

#if ( $apartments ) 
<div>
    #foreach ($apartment in $apartments)
		<a href="/apartments/$apartment.getId()">
		$apartment.getAddress() 

<!-- 	$apartment.city
		$apartment.state
		$apartment.zip -->
		</a>
		<br>
    #end
</div>
#end



</body>
</html>